.shouldBeBlue {
    color: blue;
}
.twiceAsBig {
    font-size: 2em;
    font-weight: bold;
}
.rightJust {
    text-align: right; 
}
.top {
    margin-top: -4px
}
div {
    border: 1px solid red;/*width needs to be less than 50% and needs to display as an in line element side by side*/
    width: 49%;
    display: inline-block;
}