.shouldBeBlue {
    color: blue;
}
.twiceAsBig {
    font-size: 2em;
    font-weight: bold;
}
.rightJust {
    text-align: right; 
}
.top {
    margin-top: -4px
}
.halfsies {
    /*width needs to be less than 50% and needs to display as an in line element side by side*/
    width: 49%;
    display: inline-block;
}
table {
    width: 100%;
    border: 2px solid black
}
table, th, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    width: 25%;
}
html {
    background: beige;
}
.roll {
    font-weight: bold;
}
.company {
    font-style: italic;
}